<!DOCTYPE html>
<html lang="en" style="font-size: 100px;" id="all_root">

<head>
<title>TalkCloud</title>
<meta charset="UTF-8">
<meta name="author" content="QGS,chengnuoyongcun@qq.com">
<!--强制让文档的宽度与设备的宽度为1：1 ， 并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览-->
<meta name="viewport" content="initial-scale=1,width=device-width,maxinum-scake=1,user-scalanle=no" />
<!--WebApp全屏模式隐藏地址栏-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!--苹果强制全屏显示-->
<meta name="apple-touch-fullscreen"  content="yes"  />
<!--强制全屏显示-->
<meta name="full-screen" content="yes" />
<!--制定iphone中safari顶端的状态条的样式，（default：白色 ;  black:黑色，black-translucent：半透明）-->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!--告诉设备忽略将页面中的数字识别为电话号码-->
<meta name="format-detection" content="telephone=no" />
<!--告诉设备忽略将页面中的地址识别-->
<meta name="format-detection" content="address=no" />
<!--百度禁止转码-->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--如果安装了 Google Chrome Frame，则使用 GCF 来渲染页面，如果没有安装 GCF，则使用最高版本的 IE 内核进行渲染。-->
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<!-- Custom CSS styles -->
<link type="text/css" rel="stylesheet" href="./css/room_phone_custom.css?t=2017050802" />

<!--Literally CSS style-->
<link type="text/css" rel="stylesheet" href="./plugs/literally/css/literallycanvas.css" charset="UTF-8">

<script type="text/javascript">
	var GLOBAL = GLOBAL || {} ;
</script>

	
	

<!-- Bower JavaScript dependencies -->
<script type="text/javascript"  charset="UTF-8" src="js/jquery.min.js"></script>
<script type="text/javascript"  charset="UTF-8" src="js/angular.min.js"></script>

<!--Literally JavaScript dependencies-->
<script  type="text/javascript"  charset="UTF-8" src="./plugs/literally/js/literallycanvas-core.js?t=2017050802"></script>
<script  type="text/javascript"  charset="UTF-8" src="./plugs/dynamicPPT/lib/common/script.js?t=2017050802"></script>

<!-- Custom JavaScript dependencies -->
<script  type="text/javascript"  charset="UTF-8" src="./js/tool.js?t=2017050802"></script>
<script  type="text/javascript"  charset="UTF-8" src="./plugs/literally/js/literally-custom.js?t=2017050802"></script>
<script  type="text/javascript"  charset="UTF-8" src="./plugs/dynamicPPT/js/pptPlay-custom.js?t=2017050802"></script>
<script type="text/javascript"  charset="UTF-8" src="./angular/app.js?t=2017050802" ></script>
<script type="text/javascript"  charset="UTF-8" src="./angular/services/serviceLiterally.js?t=2017050802" ></script>
<script type="text/javascript"  charset="UTF-8" src="./angular/services/serviceAynamicPPT.js?t=2017050802" ></script>
<script type="text/javascript"  charset="UTF-8" src="./angular/services/serviceTool.js?t=2017050802" ></script>

</head>

<body ng-app="wy_room"  ng-controller="phoneController" >
	<!--display the view (phone) with route system-->
	<section id="room">
	    <article  class="all-wrap clear-float" id="all_wrap">
	        <!--白板区域-->
	        <article id="content" class="lc-container add-position-relative add-fl phone" >
	        	<div id="lc-full-vessel" class="add-position-relative" style="width: 100%;height: 100%;" >
	                <div  style="display: none;" id="main-video"><!--big videos--></div>
	                <div id="white_board_outer_layout" class="white-board-outer-layout" > <!--白板最外层包裹-->
						<div id="big_literally_wrap" class="big-literally-wrap">  <!--白板内层包裹区域-->
							<div id="big_literally_vessel" ></div><!--白板区域-->
							
							<!--动态PPT-->
							<div id="aynamic_ppt"  ng-show="!roomPage.flag.isShow.isCourseFile" class="aynamic-ppt-conwrap add-position-absolute-top0-left0 opacity-init">
								<div class="ppt-vessel" id="ppt_vessel">
									<div class="ppt-zoom-container" id="ppt_zoom_container">
										<div  id="contentHolder" class="aynamic-ppt-container">
											<div id="resizer" class="aynamic-ppt-resizer">
											</div>

											<div id="preloader" class="ppt-loading-container add-position-absolute-top0-left0">
											</div>
											<div id="ppt_not_click" class="add-position-absolute-top0-left0" style="width: 100%;height: 100%;z-index: 99;display: none;"></div>
										</div>
										<div class="click-next-or-prev-container add-position-absolute-top0-left0"  style="display: none;"  id="aynamic_ppt_click" ></div>
									</div>
								</div>
							</div>
						</div>
	                </div>
	                
	                
                	<!--白板下面工具条-->
	                <div class="ipad header-left-page-time-container clear-float add-fr no-permission opacity-init role-student-hide" id="page_wrap" ng-show="roomPage.flag.isShow.isCourseFile"    style="z-index: 102;" >
	                	<div class="h-page-container"  >
	                		<div class="h-page-next-prev-container">
	                			<span class="lc-tool-wrap">
	                				<button class="lc-tool-icon-wrap page-ipad add-fl arrow-wrap lc-prev-page "  ng-click="page.prevPage()" disabled="disabled" id="prev_page" >
										<span class="lc-tool-icon-text add-nowrap" ></span>
									</button>
									<div class="lc-tool-icon-wrap  page-ipad add-fl page-print not-active">
										<span class="page-print-content"><span id="curr_page" class="curr-page" >1</span><span class="h-page-print-oblique">/</span><span id="all_page">1</span></span>
									</div>
									<button class="lc-tool-icon-wrap page-ipad  page-ipad add-fl arrow-wrap lc-next-page  "     disabled="disabled" ng-click="page.nextPage()" id="next_page">
										<span class="lc-tool-icon-text add-nowrap" ></span>
									</button>
									<button class=" lc-tool-icon-wrap   page-ipad add-fl add-page lc-add-page   "  style="display: none;"  id="add_literally_page"   ng-click="page.literallyAddPage()" >
										<span class="lc-tool-icon-text add-nowrap" ></span>
									</button>
	                			</span>
								<button class=" lc-tool-icon-wrap  page-ipad lc-full no"  id="lc_full_btn"  ng-click="lc.lcLaunchFullscreen()" >
									<span class="lc-tool-icon-text add-nowrap" ></span>
								</button>
	                		</div>
	                	</div>
	                </div>
	                
	                      
                	<!--动态PPT下面的工具条-->
	                <div class="ipad header-left-page-time-container clear-float add-fr no-permission opacity-init role-student-hide" id="ppt_page_wrap" ng-show="!roomPage.flag.isShow.isCourseFile"    style="z-index: 102;" >
	                	<div class="h-page-container"  >
	                		<div class="h-page-next-prev-container">
	                			<span class="lc-tool-wrap">
	                				<button class="lc-tool-icon-wrap page-ipad add-fl arrow-wrap lc-prev-page " id="ppt_prev_page_slide"  ng-click="page.prevPptPage()" disabled="disabled"  >
										<span class="lc-tool-icon-text add-nowrap" ></span>
									</button>
									<div class="lc-tool-icon-wrap  page-ipad add-fl page-print not-active">
										<span class="page-print-content"><span id="curr_ppt_page" class="curr-page" >1</span><span class="h-page-print-oblique">/</span><span id="all_ppt_page">1</span></span>
									</div>
									<button class="lc-tool-icon-wrap page-ipad  page-ipad add-fl arrow-wrap lc-next-page  "     disabled="disabled" ng-click="page.nextPptPage()" id="ppt_next_page_slide">
										<span class="lc-tool-icon-text add-nowrap" ></span>
									</button>
	                			</span>
								<button class=" lc-tool-icon-wrap  page-ipad lc-full no"  id="ppt_lc_full_btn"  ng-click="lc.lcLaunchFullscreen()" >
									<span class="lc-tool-icon-text add-nowrap" ></span>
								</button>
	                		</div>
	                	</div>
	                </div>
	              
												
					<!--白板工具-->
					<div id="pad-draw-tool" class="pad-draw-tool no-permission">
						<ul class="tool-box"  id="header_tool_vessel">
							<li class="role-student-hide" style="display: none;">
								<button class="btn-tool laser-tool" id="tool_laser"></button>
							</li>
							<li class="tl-tool" >
								<button class="btn-tool tool-pencil  active"  data-tool="pencilPhone"    data-open="false"  data-change-ico="true"    data-lc-event = "tool_pencil_phone" id="tool_pencil"    >
									<span class="tool-img-wrap tool-pencil-icon" ></span>
								</button>
							</li>

							<li class="t1-tool">
								<button class="btn-tool eraser-tool" id="tool_eraser"></button>
							</li>
							<li class="t1-color">
								<button class="btn-tool color-tool red" data-color="ff0000" data-open="false"  >
									<span class="color"></span>
								</button>
							</li>
							<li class="t1-color">
								<button class="btn-tool color-tool yellow" data-color="fcd000" data-open="false" >
									<span class="color"></span>
								</button>
							</li>
							<li class="t1-color">
								<button class="btn-tool color-tool blue" data-color="0488f8" data-open="false" >
									<span class="color"></span>
								</button>
							</li>
							<li class="tool-color-top">
								<button class="tool-pencil-size pencil-size-small " data-pencil-size="5"  data-text-size="12"  data-eraser-size="50"  data-shape-size="5">
									<span class="small-size" ></span>
								</button>
							</li>
							<li class="tool-color-top">
								<button class="tool-pencil-size pencil-size-middle" data-pencil-size="15"  data-text-size="28"  data-eraser-size="100"  data-shape-size="15" >
									<span class="middle-size" ></span>
								</button>
							</li>
							<li class="tool-color-top">
								<button class="tool-pencil-size pencil-size-big"  data-pencil-size="30"  data-text-size="45"  data-eraser-size="150"  data-shape-size="30">
									<span class="big-size"></span>
								</button>
							</li>

						</ul>
					</div>
				
	                <!--手机端翻页按钮-->
	                <button class="lc-tool-icon-wrap page-phone no-permission  arrow-wrap lc-prev-page opacity-init"  style=" z-index: 101;"  ng-click="page.prevPage()" disabled="disabled" id="prev_page_phone" >
						<span class="lc-tool-icon-text add-nowrap" ></span>
					</button>
					<button class="lc-tool-icon-wrap page-phone  no-permission  arrow-wrap lc-next-page opacity-init"  style=" z-index: 101;" ng-click="page.nextPage()"  disabled="disabled" id="next_page_phone" >
						<span class="lc-tool-icon-text add-nowrap" ></span>
					</button>
					<button class=" lc-tool-icon-wrap page-phone  no-permission   add-page lc-add-page opacity-init"  style="display: none; z-index: 101;"  id="add_literally_page_phone"   ng-click="page.literallyAddPage()" >
						<span class="lc-tool-icon-text add-nowrap"  ></span>
					</button>
					
					<!--手机端动态ppt翻页按钮-->
	                <button class="lc-tool-icon-wrap page-phone no-permission  arrow-wrap lc-prev-page opacity-init"  style=" z-index: 101;" id="prev_page_phone_slide" >
						<span class="lc-tool-icon-text add-nowrap" ></span>
					</button>
					<button class="lc-tool-icon-wrap page-phone  no-permission  arrow-wrap lc-next-page opacity-init"  style=" z-index: 101;"  id="next_page_phone_slide" >
						<span class="lc-tool-icon-text add-nowrap" ></span>
					</button>
					
					
					<!--手机端工具-->
	           		<div id="lc_tool_container"  class="lc-tool-container clear-float add-position-absolute-top0-left0 no-permission opacity-init"  style="z-index: 200;"  >
		                <ul class="add-fl clear-float h-tool" >
	                        <li class="tl-color">
	                        	<button class="header-tool tool-color red"   data-open="false"  data-color="ff0000"    >
	                        		<span class="color"></span>
	                            </button>
	                        </li>
	                        
	                        <li class="tl-color">
	                        	<button class="header-tool tool-color yellow"    data-open="false"  data-color="fcd000"     >
	                        		<span class="color"></span>
	                            </button>
	                        </li>
	                        
	                        <li class="tl-color">
	                        	<button class="header-tool tool-color blue"    data-open="false"  data-color="0488f8"     >
	                        		<span class="color"></span>
	                            </button>
	                        </li>
	                        
	                        
	                        <li class="tl-tool active" >
	                            <button class="header-tool tool-pencil  tool-more"  data-tool="pencilPhone"    data-open="false"  data-change-ico="true"    data-lc-event = "tool_pencil_phone" id="tool_pencil_phone"    >
	                                <span class="tool-img-wrap tool-pencil-icon" ></span>
	                            </button>
	                        </li>
	                                
	                        <li  class="tl-tool"  >
	                            <button class="header-tool tool-eraser" data-tool="eraserPhone" data-open="false"  data-change-ico="true"   data-lc-event = "tool_eraser_phone" id="tool_eraser_phone" >
	                                <span class="tool-img-wrap tool-eraser-icon"></span>
	                            </button>
	                        </li>
	                    </ul>
	            	</div>
	        	</div>
	        </article>
		</article>           
	</section>


	<script type="text/javascript"  charset="UTF-8" src="./angular/phone/phoneController.js?t=2017050802" ></script>

</body>
</html>
