@charset "utremf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td , figure , article , section , header , nav , footer{
    margin:0;
    padding:0;
    /*overflow: hidden;*/
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size:62.5%;
    -webkit-text-size-adjust: none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
body{
    font-size: 14px;
    font-size: 0.14rem;
}
ul , ol{
    list-style: none;
}
ol li{
    float: left;
}
button{
    outline: none;
    border:none;
    background: none;
}
#debuggapRoot div.dg-out{
	left: 0px;
	z-index: 99999;
}
video {
    width: 100%;
}
video::-webkit-media-controls {display:none !important;}
video::-moz-media-controls {display:none !important;}
video:-ms-media-controls {display:none !important;}
video:-o-media-controls {display:none !important;}
video:-media-controls {display:none !important;}
button:not([disabled]):hover{
	/*opacity: 0.8;*/
}

li.disabled{
	pointer-events: none;
}
.disabled{
	cursor: default !important;
}

/*.tool-container , .h-tool  , #header , .h-tool li , #header * {
	overflow:initial;
}*/
.all-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/*select 样式扩展*/
.curtom-select select {
	-o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	 -webkit-appearance: none; /*去除系统默认的样式*/
	 -webkit-tap-highlight-color:rgba(255,0,0,0); 
	 appearance: none;
	 background: none;
	 border: none;
	 outline: none;
}


/*===扩展功能样式===*/
/*全屏样式*/
:full-screen{}
:-moz-full-screen{
	background-color: #fff;
}
:-webkit-full-screen{}
:-o-full-screen{}
:-ms-full-screen{}



/*手机端样式 start*/
/*literally canvas*/
.white-board-outer-layout {
	overflow: hidden;
}
.white-board-outer-layout  , .literally-data-loading-wrap , .big-literally-wrap ,   .big-literally-wrap .literally , .big-literally-wrap .literally canvas , .big-literally-wrap  .literallydiv , .role-control-draw-permission{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.big-literally-wrap{
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

.literally-data-loading-wrap , .role-control-draw-permission{
	background: rgba(0,0,0,0.43) ;
	z-index: 98;
	display: none;
}

div.role-control-draw-permission.no-permission{
	display: block;
}

div.literally-data-loading-wrap ,div.role-control-draw-permission{
	z-index: 1;
}
.literally-data-loading-wrap:after{
	color: #DDD;
    position: absolute;
    content: "正在加载中";
    display: block;
    width: 1.6rem;
    min-width: 70px;
    height: 0.27rem;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.23rem;
    left: 50%;
    top: 50%;
    margin-left: -0.8rem;
    margin-top: -0.45rem;
    padding-top: 0.6rem;
    background: url(../img/spinner.gif) no-repeat top center;
    background-size: 0.6rem 0.6rem;
    font-family: "楷体";
    z-index: 2;
}

div.role-control-draw-permission{
	display: none;
	background:none;
	background: transparent ;
}
.big-literally-wrap .literally{
	min-height: inherit;
}
.lc-container .lc-btn{
	position: absolute;
	z-index: 5;
	width: 0.44rem;
	height: 0.44rem;
	background: #626262 url(../img/call_layout/btn/btn_full.png) no-repeat center center;
	background-size: 100% 100%;
	border-radius: 50%;
	top: 50%;
	margin-top: -0.22rem;
}
.lc-container .lc-btn.lc-btn-full{
	background-image: url(../img/call_layout/btn/btn_full.png) ;
	right: 0.1rem;
	top: 0.1rem;
	margin-top: 0;
}
.lc-container .lc-btn.lc-btn-prev{
	background-image: url(../img/call_layout/btn/btn_left.png) ;
	left: 0.1rem;
}
.lc-container .lc-btn.lc-btn-next ,.lc-container .lc-btn.lc-btn-add  {
	background-image: url(../img/call_layout/btn/btn_right.png) ;
	right: 0.1rem;
} 
.lc-container button.lc-btn.lc-btn-add{
	background-image: url(../img/call_layout/btn/btn_full.png) ;
}

.lc-container.phone{
	width: 100%;
	height: 100%;
	background: #161616;
}

.lc-container>div>.lc-tool-icon-wrap{
	position: absolute;
	top: 50%;
	width: 0.64rem;
	height: 0.64rem;
	margin-top: -0.32rem;
	background: url(../img/phone/btn_left_normal@2x.png) no-repeat center center;
	background-size: 100% 100%;
}
.lc-container .lc-tool-icon-wrap.no-permission{
	display: none !important; 
	pointer-events: none;
	cursor: default !important;
}
.lc-container .lc-tool-icon-wrap.lc-prev-page{
	left: 0.2rem;
	background-image: url(../img/phone/btn_left_normal@2x.png) ;
}
.lc-container .lc-tool-icon-wrap.lc-prev-page.disabled{
	background-image: url(../img/phone/btn_left_disabled@2x.png) ;
}
.lc-container .lc-tool-icon-wrap.lc-next-page , .lc-container .lc-tool-icon-wrap.lc-add-page{
	right: 0.1rem;
	background-image: url(../img/phone/btn_right_normal@2x.png) ;
}
.lc-container .lc-tool-icon-wrap.lc-next-page.disabled , .lc-container .lc-tool-icon-wrap.lc-add-page.disabled{
	background-image: url(../img/phone/btn_right_disabled@2x.png) ;
}
.lc-container .lc-tool-container{
	left:50%;
	margin-left:-2.579414707353677rem ;
	top:0.2rem;
}
.lc-container .lc-tool-container.no-permission{
	display: none;
}
.lc-container .lc-tool-container ul{
	background-color: #555658;
	padding: 0.1rem 0.33rem;
	border-radius: 0.33rem;
}
.lc-container .lc-tool-container li{
	margin-right: 0.4rem;
	float: left;
}
.lc-container .lc-tool-container li:first-of-type {
	margin-left: 0.25rem;
}
.lc-container .lc-tool-container li:last-of-type{
	margin-right: 0.25rem;
}
.lc-container .lc-tool-container li button{
	height: 0.48rem;
	width:0.48rem ;
	display: block;
	position: relative;
	box-sizing: border-box;
	padding: 0.02rem;
}

/*pad*/

.lc-container .pad-draw-tool li button{
	height: 0.5rem;
	width:0.5rem ;
	display: block;
	position: relative;
	box-sizing: border-box;
	padding: 0.027rem;
}
.lc-container .pad-draw-tool li button.color-tool{
	background: transparent;
}
.lc-container .pad-draw-tool li.active button.color-tool{
	background: #fff;
}
.lc-container .pad-draw-tool li button.color-tool .color{
	position: relative;
	width: 0.44rem;
	height: 0.44rem;
	display: block;
	content: '';
	background: #555658;
	left: 0;
	top: 0;
}
.lc-container .pad-draw-tool li button.color-tool.red .color:after{
	background: #ff0000;
}
.lc-container .pad-draw-tool li button.color-tool.yellow .color:after{
	background: #fcd000;
}
.lc-container .pad-draw-tool li button.color-tool.blue .color:after{
	background: #0488f8;
}
.lc-container .pad-draw-tool li button.color-tool.blue .color:after{
	background: #0488f8;
}
.lc-container .pad-draw-tool li button.color-tool .color:after{
	position: absolute;
	width: 0.35rem;
	height: 0.35rem;
	display: block;
	content: '';
	left: 0.042rem;
	top: 0.042rem;
}
.lc-container .pad-draw-tool li.active button .tool-img-wrap.tool-pencil-icon {
	background-image: url(../img/phone/btn_pencil_pressed@2x.png);
}

.lc-container .pad-draw-tool .tool-pencil {
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/phone/btn_pencil_normal@2x.png) no-repeat center center;
	background-size: 0.5rem 0.5rem;
}
/*pad*/


.lc-container .lc-tool-container li button.tool-color{
	background: transparent;
}
.lc-container .lc-tool-container li.active button.tool-color{
	background: #fff;
}

.lc-container .lc-tool-container li button.tool-color .color{
    position: relative;
    width: 0.43rem;
    height: 0.44rem;
    display: block;
    content: '';
    background: #555658;
    left: 0;
    top: 0;
}

.lc-container .lc-tool-container li button.tool-color .color:after {
	position: absolute;
	width: 0.37rem;
	height: 0.37rem;
	display: block;
	content: '';
	left: 0.028rem;
	top: 0.028rem;
}

.lc-container .lc-tool-container li button.tool-color.red .color:after{
	background: #ff0000;
}
.lc-container .lc-tool-container li button.tool-color.yellow .color:after{
	background: #fcd000;
}
.lc-container .lc-tool-container li button.tool-color.blue .color:after{
	background: #0488f8;
}
.lc-container .lc-tool-container li button.tool-color.blue .color:after{
	background: #0488f8;
}
.lc-container .lc-tool-container li button .tool-img-wrap{
	display: block;
	width: 100%;
	height:100%;
	background: url("../img/phone/btn_pencil_normal@2x.png") no-repeat center center;
	background-size: 0.44rem 0.44rem;
}

.lc-container .lc-tool-container li.active button .tool-img-wrap.tool-pencil-icon{
	background-image: url("../img/phone/btn_pencil_pressed@2x.png");
}

.lc-container .lc-tool-container li button .tool-img-wrap.tool-eraser-icon{
	 background-image: url("../img/phone/btn_eraser_normal@2x.png");
 }
.lc-container .lc-tool-container li.active button .tool-img-wrap.tool-eraser-icon{
	background-image: url("../img/phone/btn_eraser_pressed@2x.png");
}
/*手机端样式 end*/



/*动态ppt*/
.aynamic-ppt-conwrap{
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.5);*/
}
.ppt-vessel {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height:100%;
	position: relative;
	overflow: hidden;
	/*overflow: auto;*/
}
.aynamic-ppt-conwrap .ppt-vessel .ppt-zoom-container{
	position: absolute;
	width: 100%;
	height:100%;
}
.aynamic-ppt-container{
	position: absolute;
	z-index: 100;
	top: 0%;
	left: 50%
}
.aynamic-ppt-resizer{
	left: 0;
    top: 0;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
}
.aynamic-ppt-resizer img{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.aynamic-ppt-resizer pre{
	position: absolute;
    margin: 0px;
    letter-spacing: -0.04px;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
	overflow: hidden;
}
.aynamic-ppt-resizer canvas{
	top: 0px;
    left: 0px;
    position: absolute;
}
.aynamic-ppt-resizer  div,.aynamic-ppt-resizer iframe{
	position: absolute;
}
.aynamic-ppt-resizer .DC0{
	top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.aynamic-ppt-resizer .DC1{
	top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;
}
.aynamic-ppt-conwrap .click-next-or-prev-container{
	width: 100%;
	height:100%;
	z-index: 103;
}

.aynamic-ppt-lc.literally{
	z-index: 102;
}
.aynamic-ppt-lc.literally , .aynamic-ppt-lc.literally .lc-drawing {
	background-color: transparent !important;
}
/*动态ppt end*/


/*---position相关----*/
.add-position-relative{
    position: relative;
    top: 0;
    left: 0;
}

.add-position-absolute-top0-left0{
    position: absolute;
    top: 0;
    left: 0;
}

.add-position-absolute-top0-right0{
    position: absolute;
    top: 0;
    right: 0;
}

.add-position-absolute-bottom0-left0{
    position: absolute;
    bottom: 0;
    left: 0;
}

.add-position-absolute-bottom0-right0{
    position: absolute;
    bottom: 0;
    right: 0;
}

.add-fl{
    float: left;
}

.add-fr{
    float: right;
}
.add-block{
    display: block;
}
.custom-hide{
    display: none!important;
}
.custom-show{
    display: inherit!important;
}

.add-nowrap{
    display: inline-block;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}

.clear-margin-bottom{
	margin-bottom:0 !important;
}

.display-none{
	display: none !important;
}
.add-display-none{
	display: none;
}
/*---清除浮动----*/
.clear-float:after,.clear-float:before{
    content:"";
    display: block;
    /*box-sizing: content-box;*/
    height: 0;
    visibility: hidden;
}

.clear-float:after{
    clear: both;
    visibility: hidden;
    height: 0;
}

.clear-float{
    zoom: 1;
}


/*扩展样式*/
.add-over-auto-max-height{
	overflow: auto;
	height: 100%;
}
.tool-set-extend .select_option , .text-select-wrap .select_option , .custom-scroll-bar   {
	scrollbar-base-color:rgba(85, 85, 85, 1) ;/*设置滚动条主要构成部分的颜色*/
	scrollbar-face-color: rgba(103, 100, 103, 0.96);/*设置滚动框和滚动条箭头的颜色*/
	scrollbar-shadow-color:  rgba(85, 85, 85, 1);/*设置滚动框的和滚动条箭头右下边缘的颜色*/
	scrollbar-highlight-color: #C3D6DA;/*设置滚动框的和滚动条箭头左上边缘的颜色*/
	scrollbar-3dlight-color: #3D5054;/*设置滚动框的和滚动条箭头左上边缘的颜色*/
	scrollbar-darkshadow-color: #85989C;
	scrollbar-track-color: rgba(85, 85, 85, 1); /*设置滚动条轨迹组成部分的颜色*/
	scrollbar-arrow-color: rgba(121, 119, 121, 0.92);/*设置滚动条箭头的颜色*/
}

/*
::-webkit-scrollbar        滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。
::-webkit-scrollbar-button      滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
::-webkit-scrollbar-track         外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
::-webkit-scrollbar-track-piece        内层轨道，滚动条中间部分（除去）。
::-webkit-scrollbar-thumb               滚动条里面可以拖动的那部分
::-webkit-scrollbar-corner               边角
::-webkit-resizer                       定义右下角拖动块的样式
*/

/*
:horizontal     horizontal  伪类，主要应用于选择水平方向滚动条。
:vertical    vertical伪类主要是应用于选择竖直方向滚动条
:decrement    decrement伪类应用于按钮和内层轨道(track piece)。它用来指示按钮或者内层轨道是否会减小视窗的位置(比如，垂直滚动条的上面，水平滚动条的左边。)
:increment     increment伪类与和decrement类似，用来指示按钮或内层轨道是否会增大视窗的位置(比如，垂直滚动条的下面和水平滚动条的右边。)
:start    start伪类也应用于按钮和滑块。它用来定义对象是否放到滑块的前面。
:end     类似于start伪类，标识对象是否放到滑块的后面。
:double-button    该伪类可以用于按钮和内层轨道。用于判断一个按钮是不是放在滚动条同一端的一对按钮中的一个。对于内层轨道来说，它表示内层轨道是否紧靠一对按钮。
:single-button    类似于double-button伪类。对按钮来说，它用于判断一个按钮是否自己独立的在滚动条的一段。对内层轨道来说，它表示内层轨道是否紧靠一个single-button。
:no-button    用于内层轨道，表示内层轨道是否要滚动到滚动条的终端，比如，滚动条两端没有按钮的时候。
:corner-present    用于所有滚动条轨道，指示滚动条圆角是否显示。
:window-inactive    用于所有的滚动条轨道，指示应用滚动条的某个页面容器(元素)是否当前被激活。(在webkit最近的版本中，该伪类也可以用于::selection伪元素。webkit团队有计划扩展它并推动成为一个标准的伪类)
另外，:enabled、:disabled、:hover、和:active等伪类同样在滚动条中适用。
*/
@-moz-document url-prefix(http://),url-prefix(https://) {   /*只有火狐才能使用的代码*/
}

.tool-set-extend .select_option::-webkit-scrollbar , .text-select-wrap .select_option::-webkit-scrollbar , .custom-scroll-bar::-webkit-scrollbar  { /*滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。*/
   width: 0.06rem;
   height: 0.06rem;
   background: #182236;
   /*border-radius:0;*/
}
.tool-set-extend .select_option::-webkit-scrollbar-thumb , .text-select-wrap .select_option::-webkit-scrollbar-thumb , .custom-scroll-bar::-webkit-scrollbar-thumb  { /* 滚动条里面可以拖动的那部分*/
    /*background: #182236;*/
    background: rgba(85, 85, 85, 1);
    /*border-radius:0.04rem;*/
}
.tool-set-extend .select_option::-webkit-scrollbar-corner , .text-select-wrap .select_option::-webkit-scrollbar-corner , .custom-scroll-bar::-webkit-scrollbar-corner {/*边角*/
 	 background: #182236;
}
.big-literally-wrap.custom-scroll-bar{
  overflow: auto;
}
.big-literally-wrap.custom-scroll-bar::-webkit-scrollbar{
   width: 0.15rem;
   height: 0.15rem;
}

/*白板工具*/
.pad-draw-tool{
	width:0.8rem;
	/*height: 8rem;*/
	background: #3B3B3B;
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
	z-index: 150;
	font-size: 0.3rem;
}
.pad-draw-tool .tool-box{
	width: 100%;
	height: 100%;
}
.pad-draw-tool .tool-box>li ,.pad-draw-tool .box-tool>li{
	width: 0.8rem;
	height: 0.8rem;
	margin-bottom: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.pad-draw-tool .tool-box li:last-child{
	margin-bottom: 0;
}
.tool-box>li .btn-tool{
	width: 0.6rem;
	height: 0.6rem;
}
/*默认：*/
.tool-box li .laser-tool{
	background: url(../img/phone/tools/btn_cursor_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool{
	background: url(../img/phone/tools/btn_pencil_normal.png) no-repeat;
	background-size: 100%;
}
/*点击选择笔的类型：*/
.tool-box li .pencil-tool.pencil {
	background: url(../img/phone/tools/btn_pencil_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool.highlighter{
	background: url(../img/phone/tools/btn_highlighter_normal-.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool.line{
	background: url(../img/phone/tools/btn_line_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool.arrow{
	background: url(../img/phone/tools/btn_arrow_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .font-tool{
	background: url(../img/phone/tools/btn_fonts_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool{
	background: url(../img/phone/tools/btn_rectangle_01_normal.png) no-repeat;
	background-size: 100%;
}
/*点击选择形状的类型：*/
.tool-box li .shape-tool.rectangle_empty{
	background: url(../img/phone/tools/btn_rectangle_01_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool.rectangle{
	background: url(../img/phone/tools/btn_rectangle_02_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool.ellipse_empty{
	background: url(../img/phone/tools/btn_round_01_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool.ellipse{
	background: url(../img/phone/tools/btn_round_02_normal.png) no-repeat;
	background-size: 100%;
}

.tool-box li .revoke-tool{
	background: url(../img/phone/tools/btn_revoked_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .revoke-tool.disabled{
		background-image: url(../img/phone/tools/btn_revoked_disabled.png);
}
.tool-box li .recover-tool{
	background: url(../img/phone/tools/btn_recover_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .recover-tool.disabled{
	background-image: url(../img/phone/tools/btn_recover_disabled.png);
}
.tool-box li .eraser-tool{
	background: url(../img/phone/tools/btn_eraser_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .delete-tool{
	background: url(../img/phone/tools/btn_delete_normal.png) no-repeat;
	background-size: 100%;
}
.tool-box li .delete-tool.disabled{
	background-image: url(../img/phone/tools/btn_delete_normal.png);
}
/*激活状态：*/
.tool-box li .laser-tool.active{
	background: url(../img/phone/tools/btn_cursor_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool.active{
	background: url(../img/phone/tools/btn_pencil_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .tool-pencil.active{
	background: url(../img/phone/btn_pencil_pressed@2x.png) no-repeat;
	background-size: 100%;
}
/*点击选择激活笔的类型：*/
.tool-box li .pencil-tool.active.pencil{
	background: url(../img/phone/tools/btn_pencil_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool.active.highlighter{
	background: url(../img/phone/tools/btn_highlighter_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool.active.line{
	background: url(../img/phone/tools/btn_line_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .pencil-tool.active.arrow{
	background: url(../img/phone/tools/btn_arrow_pressed.png) no-repeat;
	background-size: 100%;
}

.tool-box li .font-tool.active{
	background: url(../img/phone/tools/btn_fonts_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool.active{
	background: url(../img/phone/tools/btn_rectangle_01_pressed.png) no-repeat;
	background-size: 100%;
}
/*点击选择激活形状的类型：*/
.tool-box li .shape-tool.active.rectangle_empty{
	background: url(../img/phone/tools/btn_rectangle_01_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool.active.rectangle{
	background: url(../img/phone/tools/btn_rectangle_02_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool.active.ellipse_empty{
	background: url(../img/phone/tools/btn_round_01_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .shape-tool.active.ellipse{
	background: url(../img/phone/tools/btn_round_02_pressed.png) no-repeat;
	background-size: 100%;
}

.tool-box li .revoke-tool.active{
	background: url(../img/phone/tools/btn_revoked_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .recover-tool.active{
	background: url(../img/phone/tools/btn_recover_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .eraser-tool.active{
	background: url(../img/phone/tools/btn_eraser_pressed.png) no-repeat;
	background-size: 100%;
}
.tool-box li .delete-tool.active{
	background: url(../img/phone/tools/btn_delete_pressed.png) no-repeat;
	background-size: 100%;
}
/*.tool-box>li .color-tool{*/
	/*width: 0.38rem;*/
	/*height: 0.38rem;*/
	/*box-sizing: border-box;*/
/*}*/
.tool-box>li .triangle{
	border: 0.04rem solid #fff;
	border-top-color: transparent;
	border-left-color: transparent;
	position: absolute;
	right: 0.1rem;
	bottom: 0.1rem;
}
/*==二级选择工具：==*/
/*笔和图形：*/
.tool-box>li .tool-extend{
	width: 3.2rem;
	height: 4.03rem;
	color: #fff;
	position: absolute;
	right: 100%;
	top: 0;
	background: rgba(0,0,0,0.9);
	display: none;
}
.tool-box>li .tool-extend li{
	height: 1.01rem;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 0.01rem solid #3B3B3B;
	padding-left: 1rem;
	position: relative;
	line-height: 1rem;
}
.tool-box>li .tool-extend li:last-child{
	border: none;
}
.tool-box>li .tool-extend li>span{
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
}

.tool-pencil-extend li:nth-child(1)>span{
	background: url(../img/phone/tools/icon_pencil.png) no-repeat;
	background-size: 100%;
}
.tool-pencil-extend li:nth-child(2)>span{
	background: url(../img/phone/tools/icon_highlighter.png) no-repeat;
	background-size: 100%;
}
.tool-pencil-extend li:nth-child(3)>span{
	background: url(../img/phone/tools/icon_line.png) no-repeat;
	background-size: 100%;
}
.tool-pencil-extend li:nth-child(4)>span{
	background: url(../img/phone/tools/icon_arrow.png) no-repeat;
	background-size: 100%;
}

.tool-shape-extend li:nth-child(1)>span{
	background: url(../img/phone/tools/icon_rectangle_01.png) no-repeat;
	background-size: 100%;
}
.tool-shape-extend li:nth-child(2)>span{
	background: url(../img/phone/tools/icon_rectangle_02.png) no-repeat;
	background-size: 100%;
}
.tool-shape-extend li:nth-child(3)>span{
	background: url(../img/phone/tools/icon_round_01.png) no-repeat;
	background-size: 100%;
}
.tool-shape-extend li:nth-child(4)>span{
	background: url(../img/phone/tools/icon_round_02.png) no-repeat;
	background-size: 100%;
}
/*字体：*/
.tool-font-extend{
	width: 3.2rem;
	height: 3.03rem;
	color: #fff;
	position: absolute;
	right: 100%;
	top: 0;
	background: rgba(0,0,0,0.9);
	display: none;
}
.tool-font-extend li{
	height: 1.01rem;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 0.01rem solid #3B3B3B;
	padding-left: 0.4rem;
	position: relative;
	line-height: 1rem;
}
.tool-font-extend li:last-child{
	border: none;
}
/*颜色*/
.tool-color-extend{
	width: 5.4rem;
	height: 5.8rem;
	color: #fff;
	position: absolute;
	right: 100%;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	display: none;
	font-size: 0.25rem;
}
/*圆点*/
.tool-color-top .tool-pencil-size{
	width: 100%;
	height: 0.6rem;
}
/*.tool-color-top .tool-pencil-size span{*/
	/*width: 0.47rem;*/
	/*height: 0.47rem;*/
	/*margin-right: 1rem;*/
	/*box-sizing: border-box;*/
	/*position: relative;*/
	/*display: block;*/
	/*float: left;*/
/*}*/
/*.tool-color-top .tool-pencil-size span.active{*/
	/*border: 0.03rem solid #fff;*/
/*}*/
.lc-container .pad-draw-tool li.active button.tool-pencil-size {
	border: 0.03rem solid #fff;
}
.tool-color-top .tool-pencil-size span:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	background: #fff;
	border-radius: 50%;
}
.tool-color-top .tool-pencil-size .small-size:after{
	width: 0.08rem;
	height: 0.08rem;
}
.tool-color-top .tool-pencil-size .middle-size:after{
	width: 0.13rem;
	height: 0.12rem;
}
.tool-color-top .tool-pencil-size .big-size:after{
	width: 0.18rem;
	height: 0.18rem;
}
/*颜色上部:*/
/*.tool-color-top{*/
	/*width: 100%;*/
	/*height: 1.97rem;*/
	/*box-sizing: border-box;*/
	/*padding: 0.3rem;*/
	/*border-bottom: 0.01rem solid #3B3B3B;*/
/*}*/
/*.tool-color-top .tool-pencil-size{*/
	/*width: 100%;*/
	/*height: 0.6rem;*/
	/*margin-top: 0.39rem;*/
/*}*/
/*.tool-color-top .tool-pencil-size span{*/
	/*width: 0.6rem;*/
	/*height: 0.6rem;*/
	/*margin-right: 1rem;*/
	/*box-sizing: border-box;*/
	/*position: relative;*/
	/*display: block;*/
	/*float: left;*/
/*}*/
/*.tool-color-top .tool-pencil-size span.active{*/
	/*border: 0.02rem solid #fff;*/
/*}*/
/*.tool-color-top .tool-pencil-size span:after{*/
	/*content: "";*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%,-50%);*/
	/*display: block;*/
	/*background: #fff;*/
	/*border-radius: 50%;*/
/*}*/
/*.tool-color-top .tool-pencil-size span:nth-child(1):after{*/
	/*width: 0.08rem;*/
	/*height: 0.08rem;*/
/*}*/
/*.tool-color-top .tool-pencil-size span:nth-child(2):after{*/
	/*width: 0.12rem;*/
	/*height: 0.12rem;*/
/*}*/
/*.tool-color-top .tool-pencil-size span:nth-child(3):after{*/
	/*width: 0.18rem;*/
	/*height: 0.18rem;*/
/*}*/
/*颜色下部:*/
/*.tool-color-bottom{*/
	/*width: 100%;*/
	/*height: 3.83rem;*/
	/*box-sizing: border-box;*/
	/*padding: 0.3rem 0.3rem 0 0.3rem;*/
/*}*/
/*.tool-color-bottom .tool-color-box{*/
	/*width: 100%;*/
	/*height: 2rem;*/
	/*margin:0.15rem 0;*/
/*}*/
/*.tool-color-bottom .tool-color-box li{*/
	/*width: 0.6rem;*/
	/*height: 0.6rem;*/
	/*margin: 0.2rem;*/
	/*position: relative;*/
	/*float: left;*/
	/*box-sizing: border-box;*/
	/*border: 0.02rem solid transparent;*/
/*}*/
/*.tool-color-bottom .tool-color-box li.active{*/
	/*border: 0.02rem solid #fff;*/
/*}*/

/*.tool-color-bottom .tool-color-box li span{*/
	/*width: 0.4rem;*/
	/*height: 0.4rem;*/
	/*position: absolute;*/
	/*top: 0.08rem;*/
	/*left: 0.08rem;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(5n+1){*/
	/*margin-left: 0.1rem;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(5n){*/
	/*margin-right: 0.1rem;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(1) span{*/
	/*background: #FBCF17;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(2) span{*/
	/*background: #F96B0B;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(3) span{*/
	/*background: #FB0706;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(4) span{*/
	/*background: #F30F8C;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(5) span{*/
	/*background: #AA13D6;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(6) span{*/
	/*background: #3F1EF0;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(7) span{*/
	/*background: #1088F6;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(8) span{*/
	/*background: #04DBA4;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(9) span{*/
	/*background: #00C737;*/
/*}*/
/*.tool-color-bottom .tool-color-box li:nth-child(10) span{*/
	/*background: #99C617;*/
/*}*/
/*.tool-color-bottom .tool-color-btn{*/
	/*width: 4.4rem;*/
	/*height: 0.6rem;*/
	/*box-sizing: border-box;*/
	/*border: 0.01rem solid #fff;*/
	/*background: rgba(0,0,0,0.8);*/
	/*line-height: 0.6rem;*/
	/*text-align: center;*/
	/*color: #fff;*/
	/*border-radius: 0.05rem;*/
	/*margin: 0.1rem 0 0 0.2rem;*/
	/*font-size: 0.3rem;*/
/*}*/
/*翻页*/
.ipad.header-left-page-time-container {
	width: auto;
	height: 0.8rem;
	position: absolute;
	bottom: 0.1rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: #3b3b3b;
}
.ipad.header-left-page-time-container .h-page-container .h-page-next-prev-container {
	width: auto;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #fff;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0.1rem 0;
}

.ipad .h-page-next-prev-container button{
	width: 0.6rem;
	height: 0.6rem;
	overflow: hidden;
	cursor: pointer;
	background: url(../img/phone/pages/btn_left_normal.png) no-repeat center center;
	background-size: 100% 100%;
}
.ipad .h-page-next-prev-container .lc-tool-wrap{
	width: 3.5rem;
	height: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.1rem;
	box-sizing: border-box;
}

.ipad .h-page-next-prev-container .lc-full{
	float: right;
	margin-right: 0.1rem;
}
.ipad .h-page-next-prev-container button.pointer-events{
	pointer-events: none;
	cursor: default !important;
}
.lc-container .ipad .h-page-next-prev-container .lc-tool-wrap button.lc-prev-page{
	background-image: url(../img/phone/pages/btn_left_normal.png) ;
}
.lc-container .ipad .h-page-next-prev-container .lc-tool-wrap button.lc-next-page{
	background-image: url(../img/phone/pages/btn_right_normal.png) ;
}
.lc-container .ipad .h-page-next-prev-container .lc-tool-wrap button.lc-add-page{
	background-image: url(../img/phone/pages/btn_right_normal.png) ;
}

.lc-container .ipad .h-page-next-prev-container button.lc-full.no{
	background-image: url(../img/phone/pages/btn_full-screen_normal.png) ;
}
.lc-container .ipad .h-page-next-prev-container button.lc-full.yes{
	background-image: url(../img/phone/pages/btn_small-screen_normal.png) ;
}

.lc-container .ipad .h-page-next-prev-container .lc-tool-wrap button.lc-prev-page.disabled{
	background-image: url(../img/phone/pages/btn_left_disabled.png)!important ;
}
.lc-container .ipad .h-page-next-prev-container .lc-tool-wrap button.lc-next-page.disabled{
	background-image: url(../img/phone/pages/btn_right_disabled.png)!important ;
}
.lc-container .ipad .h-page-next-prev-container .lc-tool-wrap button.lc-add-page.disabled{
	background-image: url(../img/phone/pages/btn_right_disabled.png)!important;
}
.ipad .h-page-next-prev-container .page-print {
	width: 1rem;
	height: 100%;
	text-align: center;
	font-size: 0.3rem;
	margin: 0 0.4rem;
	line-height: 0.6rem;
}
.ipad .page-print-content .h-page-print-oblique{
	display: inline-block;
	margin: 0 0.04rem;
}
.ipad .h-page-next-prev-container .page-print .curr-page {
	color: #fff;
}

#page_wrap.ipad.no-permission{
	display: none;
}

.pad-draw-tool.no-permission{
	display: none;
}
.tool-font-extend li.active-color{
	background: #3b3b3b;
}
